<h2>All Heroines</h2>

<% if @heroines.blank? %>
  <h4>There are no Super Powers named <%= params[:search] %>.</h4>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
